# Libraries

In [13]:
import pandas as pd 
import matplotlib.pyplot as plt

# Read data

## genome-scores.csv

In [4]:
genome_scores = pd.read_csv("movies-database/ml-25m/genome-scores.csv")
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [5]:
genome_scores.count()

movieId      15584448
tagId        15584448
relevance    15584448
dtype: int64

In [20]:
genome_scores[genome_scores["movieId"] == 1]

      movieId  tagId  relevance
0           1      1    0.02875
1           1      2    0.02375
2           1      3    0.06250
3           1      4    0.07575
4           1      5    0.14075
...       ...    ...        ...
1123        1   1124    0.05775
1124        1   1125    0.03900
1125        1   1126    0.02975
1126        1   1127    0.08475
1127        1   1128    0.02200

[1128 rows x 3 columns]

## genome-tags.csv

In [8]:
genome_tags = pd.read_csv("movies-database/ml-25m/genome-tags.csv")
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [9]:
genome_tags.count()

tagId    1128
tag      1128
dtype: int64

Each movie has 1128 tags ("the tag genome encodes how strongly movies exhibit particular properties represented by tags (atmospheric, thought-provoking, realistic, etc.). The tag genome was computed using a machine learning algorithm on user-contributed content including tags, ratings, and textual reviews") assigned, with a score, which shows how relevant is a specific tag for a movie.

## links.csv

In [10]:
links = pd.read_csv("movies-database/ml-25m/links.csv")
links.count()

movieId    62423
imdbId     62423
tmdbId     62316
dtype: int64

In [21]:
len(genome_scores)/1128 # 1128 - amount of tags permovie

13816.0

not all movies from links.csv have genome scores

## movies.csv

In [22]:
movies = pd.read_csv("movies-database/ml-25m/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
movies.count()

movieId    62423
title      62423
genres     62423
dtype: int64

## ratings.csv

In [26]:
ratings = pd.read_csv("movies-database/ml-25m/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [33]:
ratings["movieId"].nunique()

59047

some movies do not have any rating scores

## tags.csv

"Each line of this file after the header row represents one tag applied to one movie by one user"

In [34]:
tags = pd.read_csv("movies-database/ml-25m/tags.csv")
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [35]:
tags["movieId"].nunique()

45251

some movies do not have any user-assigned tags